@using WarehouseAgile.Controllers;

@model WarehouseAgile.Models.OrderViewModel

<h2>Edycja zamówienia</h2>

@if (Model != null)
{

    using (Html.BeginForm())
    {
        @Html.Partial("_ReadOnlyDetails")
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        
        <div class="editor-field">
            @Html.DropDownList("ddlStatus", OrdersController.GetStatuses())
        </div>

    <p>
        <input type="submit" value="Save" />
    </p>
    }
}
else
{
    <div class="error">Brak zamówienia</div>
}

<div>
    @Html.ActionLink("Powrót do listy zamówień", "Index")
</div>
