body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0px;
}

header,
footer,
nav,
section
{
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


/* Styles for layout
-----------------------------------------------------------*/
div.menu
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: #efeff2;
}

    div.menu ul
    {
        overflow: hidden;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

        div.menu ul li
        {
            padding: 0px;
            margin: 0px;
            float: left;
        }

        div.menu ul a
        {
            padding: 8px;
            margin: 0px;
            float: left;
            text-decoration: none;
            color: #232323;
        }

            div.menu ul a:link, div.menu ul a:visited
            {
                background: #efeff2;
            }

            div.menu ul a:hover, div.menu ul a:active
            {
                background: #fefefe;
            }

div.body
{
    overflow: hidden;
    margin: 20px;
}

div.success
{
    background: #00b400;
    border: none;
    padding: 6px;
    color: #fff;
    margin: 6px 2px;
}

div.error
{
    background: #b40000;
    border: none;
    padding: 6px;
    color: #fff;
    margin: 6px 2px;
}

/* Styles for Offer
-----------------------------------------------------------*/
div.row-clean
{
    overflow: hidden;
    clear: both;
}

div#loading, div#loading2, div#loading3, div#loading4
{
    display: none;
    margin: 6px 2px 6px 2px;
}

#model-details
{
    overflow: hidden;
}

    #model-details .group
    {
        overflow: hidden;
        margin: 0px;
        padding: 0px 0px 0px 16px;
    }

/*#model-details */ .row
{
    overflow: hidden;
    width: 410px;
    background: #efeff2;
    padding: 4px;
}
    /*#model-details */ .row:hover
    {
        background: #fefefe;
    }

    /*#model-details */ .row .column-a
    {
        overflow: hidden;
        margin: 0px;
        float: left;
        width: 100px;
    }

    /*#model-details */ .row .column-b
    {
        overflow: hidden;
        margin: 0px;
        float: left;
        width: 180px;
    }

        /*#model-details */ .row .column-b input
        {
            width: 140px;
        }

        .row .column-b select
        {
            width: 140px;
        }

        .row .column-b input[type="submit"]
        {
            width: 60px;
        }

    /*#model-details */ .row .column-c
    {
        overflow: hidden;
        margin: 0px;
        float: left;
        width: 100px;
        text-align: right;
    }

.icon-anchor
{
    float: left;
    padding: 4px;
}

/* Styles for Customers
-----------------------------------------------------------*/
#header
{
    background-color: #232323;
    color: white;
}

div.split
{
    height: 50px;
}

/* Styles for Orders
-----------------------------------------------------------*/
div.orders
{
    padding-bottom: 20px;
}

.orders div
{
    padding: 5px;
}

    .orders div.display-label,
    .orders .editor-label,
    .orders-create > .priceLabel
    {
        float: left;
        margin-right: 15px;
    }

        .orders div.display-label > label,
        .orders .editor-label > label,
        .orders-create .editor-label > label
        {
            margin-bottom: 0px;
            font-weight: bolder;
        }

div.editor-field.priceField
{
    margin-top: 1em;
}

#SaveButton
{
    margin-top: 15px;
}

/* Styles for Statistics
-----------------------------------------------------------*/

div.well
{
    width: 20%;
    float: left;
}

svg
{
    position: relative !important;
}