@model WarehouseAgile.Models.MakesModel
@using WarehouseAgile.Models

@{
    MakesModel model = new MakesModel();
    
    @:<option value="0">>>> Marka <<<</option>
    foreach (var m in model.MakesList)
    {
        <option value="@m.Id">@m.Name</option>
    }
}