@model WarehouseAgile.Models.ModelsModel

<select name="model" id="model-select">
    <option value="0">>>> Model <<<</option>
    @foreach (var m in Model.ModelsList)
    {
        <option value="@m.Id">@m.Name</option>
    }
</select>