@model WarehouseAgile.Models.MakesModel
@{
    ViewBag.Title = "";
}

<h2>Oferta</h2>

@if (Model != null)
{
    using (Ajax.BeginForm("GetModels", "", new AjaxOptions() { UpdateTargetId = "model-select", LoadingElementId = "", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { id = "make-form" }))
    {
        if (Model.MakesList != null)
        {
            <select name="make" id="make-select">
                <option value="0">>>> Marka <<<</option>
                @foreach (var m in Model.MakesList)
                {
                    <option value="@m.Id">@m.Name</option>
                }
            </select>
        }
    }

    using (Ajax.BeginForm("GetModelPrices", "", new AjaxOptions() { UpdateTargetId = "model-prices", LoadingElementId = "", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { id = "model-form" }))
    {
        <select name="model" id="model-select">
            <option value="0">>>> Model <<<</option>
        </select>
    }
    
    <div id="model-prices"></div>
}

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/offer.js")" type="text/javascript"></script>