<div class="well">
    <ul class="nav nav-list">
        <li>
            @Html.ActionLink("Płeć", "Index")
        </li>
        <li>
            @Html.ActionLink("Miasto", "Cities")
        </li>
        <li>
            @Html.ActionLink("Kolor", "Colors")
        </li>
        <li>
            @Html.ActionLink("Marka", "Makes")
        </li>
    </ul>
</div>
