<div class="well">
    <ul class="nav nav-list">
        <li>
            @Html.ActionLink("Płeć", "Index")
        </li>
        <li>
            @Html.ActionLink("Płeć", "Index")
        </li>
    </ul>
</div>
