@using WarehouseAgile
<h1>Statystyki</h1>

@{Html.RenderPartial("_SideMenu");}

<div>
    @{
        using (AppDBEntities context = new AppDBEntities())
        {
            float count = context.Orders.Count();
            var temp = context.Orders.AsEnumerable();
            float women = (float)Math.Round(temp.Where(x => x.Customer.Name.ToLower()[x.Customer.Name.Length - 1] == 'a').Count() / count * 100f, 2);
            float men = 100f - women;
        
        <script type="text/javascript">
            $(function () {
                DrawChart([@women, @men], ["Kobiety", "Mężczyźni"]);
            });
        </script>
        }
    }
</div>

<script src="@Url.Content("~/Scripts/statistics.js")" type="text/javascript"></script>