@using WarehouseAgile
<h1>Statystyki</h1>

@* Documentation for charts library - http://g.raphaeljs.com/ *@

@{
    using(AppDBEntities context = new AppDBEntities())
    {
        float count = context.Orders.Count();
        var temp = context.Orders.AsEnumerable();
        float women = (float)Math.Round(temp.Where(x => x.Customer.Name.ToLower()[x.Customer.Name.Length - 1] == 'a').Count() / count * 100f, 2);
        float men = 100f - women;
        
        <script type="text/javascript">
            var r = Raphael(20, 30, 800, 600);
            var pie = r.piechart(320, 240, 150, [@women , @men], { legend: ["%%.%% Kobiety", "%%.%% Mężczyźni"], legendpos: "east" });

            pie.hover(function () {
                this.sector.stop();
                this.sector.scale(1.1, 1.1, this.cx, this.cy);

                if (this.label) {
                    this.label[0].stop();
                    this.label[0].attr({ r: 7.5 });
                    this.label[1].attr({ "font-weight": 800 });
                }
            }, function () {
                this.sector.animate({ transform: 's1 1 ' + this.cx + ' ' + this.cy }, 500, "bounce");

                if (this.label) {
                    this.label[0].animate({ r: 5 }, 500, "bounce");
                    this.label[1].attr({ "font-weight": 400 });
                }
            });
        </script>
    }
}

